.box {
    box-sizing: border-box;
    width: 400px;
    height: 350px;
    overflow-y: scroll;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
}

button {
    width: 100px;
    height: 40px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}


/* .wrap {
    position: fixed;
    width: 900px;
    height: 900px;
    overflow-y:scroll;
    padding:0;
    margin-left: 35%;
    margin-right: auto;
}

.text {
    position:relative;
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    background-color: #db0;
    overflow-y: scroll;
}

.button {
    margin-top: 1000px;
    margin-left: 35%;
    margin-right: auto;
    width: 700px;
    height: 50px; 
} */